@import "tailwindcss";

:root {
  --background: #474646;
  --foreground: #ececec;
}

body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lora);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-optical-sizing: auto;
  font-stretch: normal;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
} */
